<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aitor.actividades_pantallas" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Actividad1"
            android:label="@string/title_activity_actividad1" >
        </activity>
        <activity
            android:name=".Actividad2"
            android:label="@string/title_activity_actividad2" >
        </activity>
        <activity
            android:name=".Actividad1b"
            android:label="@string/title_activity_actividad1b" >
        </activity>
        <activity
            android:name=".Actividad2b"
            android:label="@string/title_activity_actividad2b" >
        </activity>
        <activity
            android:name=".Actividad3"
            android:label="@string/title_activity_actividad3" >
        </activity>
        <activity
            android:name=".Actividad3b"
            android:label="@string/title_activity_actividad3b" >
        </activity>
        <activity
            android:name=".Actividad4"
            android:label="@string/title_activity_actividad4" >
        </activity>
        <activity
            android:name=".Actividad4b"
            android:label="@string/title_activity_actividad4b" >
        </activity>
    </application>

</manifest>
